<app-section>
    <div class="login">
        <div class="login__container">

            <div class="login__form">
                <header class="login__form__header">
                    <app-heading type="h2" size="xl" text="Sign in"></app-heading>
                    <app-heading type="h3" size="md" text="Explore and buy the best products in Emazon"></app-heading>
                </header>
                <app-login-form></app-login-form>
                <footer class="login__form__footer">
                    <a routerLink="/signup">Don't have an account? Sign Up.</a>
                </footer>
            </div>


            <div class="login__image-container">
                <img class="login__image" alt="Login image" src="/assets/ui/login.svg" alt="Login image">

            </div>
        </div>

    </div>

</app-section>
