<footer class="footer">
    <div class="footer__content">
        <ul class="footer__links">
            <li class="footer__link">
                <a href="#" class="footer__link-text">About us</a>
            </li>

            <li class="footer__link">
                <a href="#" class="footer__link-text">Contact us</a>
            </li>

            <li class="footer__link">
                <a href="#" class="footer__link-text">Privacy policy</a>
            </li>

            <li class="footer__link">
                <a href="#" class="footer__link-text">Terms of service</a>
            </li>
        </ul>
        <ul class="footer__contact">
            <li class="footer__contact-item">
                <address class="footer__contact-address">
                    <a href="tel:+57312228856" class="footer__contact-number">+57 312 228856</a>
                </address>
                <span class="footer__contact-name">Juan Gerardo Mendez Lopez</span>
            </li>
            <li class="footer__contact-item">
                <span>jmendez1025&#64;cue.edu.co</span>
            </li>
        </ul>
    </div>
    <hr class="footer__hr">
    <p class="footer__copyright">
        &copy; 2023 Emazon. All rights reserved.
    </p>
</footer>