<ng-container [ngSwitch]="type">
    <h1 *ngSwitchCase="'h1'" [ngClass]="getHeadingClass()">
        {{text}}
    </h1>
    <h2 *ngSwitchCase="'h2'" [ngClass]="getHeadingClass()">
        {{text}}
    </h2>
    <h3 *ngSwitchCase="'h3'" [ngClass]="getHeadingClass()">
        {{text}}
    </h3>
    <h4 *ngSwitchCase="'h4'" [ngClass]="getHeadingClass()">
        {{text}}
    </h4>
    <h5 *ngSwitchCase="'h5'" [ngClass]="getHeadingClass()">
        {{text}}
    </h5>
    <h6 *ngSwitchCase="'h6'" [ngClass]="getHeadingClass()">
        {{text}}
    </h6>
</ng-container>