$white-bg-color: #fafafa;
$white-color: #ffffff;
$black-color: #000000;
$gray-light-color: #e5e0eb;
$error-color: #D51A52;
$disabled-color: #D4D2D5;

$primary-color: #9d3fe7;
$primary-color-50: #faf5ff;
$primary-color-100: #f4e9fe;
$primary-color-200: #ead6fe;
$primary-color-300: #dab6fc;
$primary-color-400: #c487f9;
$primary-color-500: #313031;
$primary-color-700: #8426ca;
$primary-color-800: #7024a5;

// Responsive
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
