<form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
    <ng-container *ngFor="let field of fields">

        <app-input-form-row [label]="field.label" [control]="getControl(field.name)" [type]="field.type"
            [errorMessage]="getErrorMessage(field.name)" [placeholder]="field.placeholder || ''"
            [dropdownOptions]="field.dropdownOptions" [maxDropdownSelections]="field.maxDropdownSelections">
        </app-input-form-row>

    </ng-container>

    <div class=" form__button">
            <app-button [disabled]="form.invalid || isLoading" type="submit">
                {{ isLoading ? 'Loading...' : 'Submit' }}
            </app-button>
            </div>

</form>