<div class="input-form-row">
  <label class="input-form-row__label">{{ label }}</label>
  <div [ngSwitch]="type">
    <app-input *ngSwitchCase="'text'" [type]="type" [variant]="getInputVariant()" [placeholder]="placeholder"
      [formControl]="control" [prefix]="prefix"></app-input>

      <app-input *ngSwitchCase="'number'" [type]="type" [variant]="getInputVariant()" [placeholder]="placeholder"
      [formControl]="control"  [prefix]="prefix"></app-input>

      <app-input *ngSwitchCase="'password'" [type]="type" [variant]="getInputVariant()" [placeholder]="placeholder"
      [formControl]="control"  [prefix]="prefix"></app-input>

      <app-input *ngSwitchCase="'email'" [type]="type" [variant]="getInputVariant()" [placeholder]="placeholder"
      [formControl]="control"  [prefix]="prefix"></app-input>

      <app-input-date *ngSwitchCase="'date'" [variant]="getInputVariant()" [placeholder]="placeholder" [formControl]="control"></app-input-date>
      <app-input-date *ngSwitchCase="'date-time'" [variant]="getInputVariant()" [placeholder]="placeholder" [formControl]="control" [localtime]="true"></app-input-date>

    <app-text-area *ngSwitchCase="'textarea'" [placeholder]="placeholder" [formControl]="control"
      [variant]="getInputVariant()"></app-text-area>
    <app-dropdown *ngSwitchCase="'dropdown'" [placeholder]="placeholder" [formControl]="control"
      [options]="getDropdownOptions()" [maxSelectedOptions]="getDropdownMaxSelections()"></app-dropdown>
  </div>
  <span class="input-form-row__error" [ngClass]="{'input-form-row__error--visible': errorMessage}">
    {{ errorMessage }}
  </span>
</div>