@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white-bg-color;
  @include font-poppins();
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
