@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "variables";
@import "mixins";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: $white-bg-color;
  @include font-poppins();
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --sb-track-color: #ead6fe;
  --sb-thumb-color: #9d3fe7;
  --sb-size: 14px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  min-height: 30px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}