<app-section>
    <div class="hero-section">

        <div class="hero-section__content">
            <header class="hero-section__header">
                <app-heading text="Welcome to Emazon" size="2xl"></app-heading>
                <app-heading text="Find everything you need in one place. Shop now and transform the way you live, work, and play!" size="lg"></app-heading>
            </header>
            <footer>
                <app-button size="lg">Shop now</app-button>
            </footer>
        </div>

        <div class="hero-section__image-container">
            <img src="assets/ui/hero-image.svg" alt="Hero" class="hero-section__image" >
        </div>

    </div>
</app-section>