<nav class="nav">
    <div class="nav__logo">
        <app-logo></app-logo>
    </div>
    <ul class="nav__links" [ngClass]="{'nav__links--open':isMenuOpen}">
        <app-link href="Test">
            Home
        </app-link>
        <app-link href="Test">
            Products
        </app-link>
        <app-link href="Test">
            About
        </app-link>
    </ul>
    <div class="nav__actions" [ngClass]="{'nav__actions-open': isMenuOpen}">
        <app-button size="lg" variant="primary">Login</app-button>
    </div>
    <div class="nav__hamburguer">
        <app-hamburger-icon (click)="onHamburgerClick()"></app-hamburger-icon>
    </div>
</nav>