@import "mixins";
@import "variables";

.nav {
  @include flex();
  @include padding-x(3rem);
  @include padding-y(1rem);
  @include shadow();
  @include tablet() {
    @include padding-x(1rem);
    @include padding-y(0.5rem);
  }
  background-color: $white-color;
  &__logo {
    flex: 1;
  }
  &__links {
    @include laptop() {
      @include flex(row, center, center, 4rem);
      position: relative;
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      width: auto;

    }
    @include flex(column, center, center, 4rem);

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: $white-color;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0s, visibility 0s, transform 0.3s;

    &--open {
      display: flex;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    @include tablet() {
      gap: 2rem;
    }
  }
  &__actions {
    flex: 1;
    display: none;
    @include laptop() {
      @include flex-end();
    }

    &__logout{
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
  }
  &__hamburguer {
    display: block;
    @include laptop() {
      display: none;
    }
  }
}
