<nav class="nav">
    <div class="nav__logo">
        <app-logo></app-logo>
    </div>
    <ul class="nav__links" [ngClass]="{'nav__links--open':isMenuOpen}">
        <app-link href="">
            Home
        </app-link>
        <app-link href="/products">
            Products
        </app-link>
        <app-link href="Test">
            About
        </app-link>
    </ul>
    <div class="nav__actions" [ngClass]="{'nav__actions-open': isMenuOpen}">
        <a [routerLink]="'/login'">
            <app-button *ngIf="!isAuthenticated()" size="lg" variant="primary">Sign in</app-button>
        </a>
        <a routerLink="/cart" *ngIf="isAuthenticated()">
            <img src="/assets/ui/cart.svg" alt="Cart" class="cart-image">
        </a>
        <app-logout-button *ngIf="isAuthenticated()"></app-logout-button>
    </div>
    <div class="nav__hamburguer">
        <app-hamburger-icon (click)="onHamburgerClick()"></app-hamburger-icon>
    </div>
</nav>