<div class="dropdown" [ngClass]="{'dropdown--opened': dropdownOpened}">
    <span class="dropdown__placeholder" *ngIf="selectedOptions.length == 0" (click)="toggleDropdown()" (keydown)="toggleDropdown()">{{placeholder}}</span>
    <span class="dropdown__label" *ngIf="selectedOptions.length > 0">{{getSelectedOptionsLabel()}}</span>
    <button type="button" class="dropdown__toggle" (click)="toggleDropdown()">
        <img src="assets/ui/search.svg" alt="Search">
    </button>

    <div class="dropdown__body" *ngIf="dropdownOpened" [ngClass]="{'dropdown__body--opened': dropdownOpened}">
        <header class="dropdown__body__header">
            <app-input placeholder="Search..." (valueChange)="onSearch($event)"></app-input>
        </header>

        <ul class="dropdown__body__content">
            <li>
                <button *ngFor="let option of filteredOptions" (click)="selectOption(option)" type="button"
                    [ngClass]="selectedOptions.includes(option) ? 'dropdown__body__content--selected' : ''">
                    <span>{{option.label}}</span>
                    <span *ngIf="selectedOptions.includes(option)" class="selected">✓</span>
                </button>
            </li>

            <li *ngIf="filteredOptions.length == 0" class="dropdown__body__content--no-results">
                <span>No results found</span>
            </li>

        </ul>

    </div>
</div>