@import 'variables';
@import 'mixins';

.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    border: 1px solid $gray-light-color;
    @include border-radius-md();

    &--opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__label {
        display: block;
        padding: 10px;
    }

    &__toggle {
        width: 24px;
        padding: 10px;
        color: $white-color;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
            outline: none;
        }
        & > img {
            width: 20px;
            height: 20px;
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white-color;
        z-index: 1000;
        box-shadow: 0 0 0 1px $gray-light-color, 1px 0 0 0 $gray-light-color, 0 1px 0 0 $gray-light-color;
        @include padding-y(2rem);
        &--opened{
            border:1px 0 1px 1px solid $gray-light-color;

        }

        &__header {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__content {
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 100px;
            overflow-y: auto;

            li {
                margin: 0;

                button {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px;
                    background-color: $white-color;
                    border: none;
                    border-bottom: 1px solid $gray-light-color;
                    cursor: pointer;
                    text-align: left;
                    @include transition();

                    &:hover {
                        background-color: $gray-light-color;
                    }

                    &.dropdown__body__content--selected {
                        background-color: $primary-color;
                        color: $white-color;
                    }

                    &:focus {
                        outline: none;
                    }

                    .selected {
                        margin-left: 10px;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}