@import "mixins";
.admin-layout{
    @include flex(row,center,start,0);
    width: 100%;
    &__main{
        width: 100%;
    }
    &__content {
        @include padding-y(2rem);
        @include padding-x(3rem);
        width: 100%;
    }
}